doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    include ../_includes/_css.pug
    title #{ pageTitle }
  body
    include ../_layouts/_header.pug
    block body

    include ../_includes/_js.pug
