header#main-header
  .logo
    a(href="/tech-learning")
      h4
        span Tech
        |
        | Learning
  .links
    ul
      li
        a(href="/tech-learning") Home
      li
        a(href="/tech-learning/about") About Us
      li
        a(href="/tech-learning/assignments") Assignments
  .hamburger
    a.icon(href="#")
      i.fa.fa-fw.fa-xl.fa-bars
    .menu
      .logo
        a(href="/tech-learning")
          h4
            span Tech
            |
            | Learning
      ul.links
        li
          a(href="/tech-learning") Home
        li
          a(href="/tech-learning/about") About Us
        li
          a(href="/tech-learning/assignments") Assignments
