header#main-header
  .logo
    h4 <span>Tech</span> Learning
  .links
    ul
      li
        a(href="/") Home
      li
        a(href="/about") About Us
      li
        a(href="/assignments") Assignments
  .hamburger
    .icon
      i.fa.fa-fw.fa-xl.fa-grip-lines
