header#main-header
  .container
    .logo
      a(href="/tech-learning")
        h4
          span Tech
          |
          | Learning
    ul.links
      li
        a(href="/tech-learning", data-page="home") Home
      li
        a(href="/tech-learning/get-course", data-page="get-course") Get Course
      li
        a(href="/tech-learning/assignments", data-page="assignments") Assignments
    .hamburger
      a.icon
        i.fa.fa-fw.fa-xl.fa-bars
      .menu
        .logo
          a(href="/tech-learning")
            h4
              span Tech
              |
              | Learning
        ul.links
          li
            a(href="/tech-learning", data-page="home") Home
          li
            a(href="/tech-learning/get-course", data-page="get-course") Get Course
          li
            a(href="/tech-learning/assignments", data-page="assignments") Assignments
