//- ---
pageTitle: Get The Course | Tech Learning
page: get-course
//- ---
extends ../../_layouts/_base.pug
block body
  section.contact
    .container
      .main-heading
        h1 Get Course
        p Connect To Us To Get Course

      .content-area
        h2 Click a Box
        .blocks-area
          #whatsapp.block.whatsapp
            i.fa.fa-brands.fa-whatsapp
            h3 Whatsapp
          #email.block.email
            i.fa.fa-solid.fa-phone
            h3 Phone
        .overlay
        .menus-area
          #whatsapp-menu.whatsapp
            .menubar
              i.fa.fa-brands.fa-whatsapp.fa-fw.icon
              i.fa.fa-solid.fa-close.fa-fw.close
            .content
              .select-box
                .option
                  p
                    | Talk To Center
                    span recommended
                  a.main-button(href="https://wa.me/+201062903190" target="_blank") Go
                .option
                  p
                    | Talk To Mentor
                  a.main-button(href="https://wa.me/+201145022698" target="_blank") Go
          #email-menu.email
            .menubar
              i.fa.fa-solid.fa-phone.fa-fw.icon
              i.fa.fa-solid.fa-close.fa-fw.close
            .content
              .select-box
                .option
                  p
                    | Talk To Mentor
                    span recommended
                  a.main-button(href="", onclick="copyToClipboard('01145022698'); return false") Copy Number
                .option
                  p
                    | Talk To Center
                  a.main-button(href="", onclick="copyToClipboard('01122897317'); return false") Copy Number
  section.listings
    .main-heading.font-bitcount.font-deep
      h1 What We serve
      p Check the abilities of the course you'll find

    .maps.font-bitcount.font-deep
      .map
        h2 Front-End Development
        .langs
          .lang
            i.fa.fa-brands.fa-html5.fa-fw
            h3 HTML
          a(href="/tech-learning/assignments").lang
            i.fa.fa-solid.fa-angles-right.fa-fw
            h3 And More...
      .map
        h2 Back-End Development
        .langs
          .lang
            i.fa.fa-brands.fa-php.fa-fw
            h3 PHP
          a(href="/tech-learning/assignments").lang
            i.fa.fa-solid.fa-angles-right.fa-fw
            h3 And More...
      .map
        h2 Full-Stack Development
        .langs
          .lang
            h3 FRONT END
          .lang
            h3 FRONT END
          a(href="/tech-learning/assignments").lang
            i.fa.fa-solid.fa-angles-right.fa-fw
            h3 And More...
