//- ---
pageTitle: Get The Course | Tech Learning
page: get-course
//- ---
extends ../../_layouts/_base.pug
block body
  section.contact
    .container
      .main-heading
        h1 Get Course
        p Connect To Us To Get Course

      .content-area
        h2 Click a Box
        .blocks-area
          #whatsapp.block.whatsapp
            i.fa.fa-brands.fa-whatsapp
            h3 Whatsapp
          #email.block.email
            i.fa.fa-solid.fa-envelope
            h3 Email
        .overlay
        .menus-area
          .whatsapp#whatsapp-menu
            .menubar
              i.fa.fa-brands.fa-whatsapp.fa-fw.icon
              i.fa.fa-solid.fa-close.fa-fw.close
            .content
              .select-box
                .option
                  p
                    | Talk To Center
                    span recommended
                  a(href="https://wa.me/+201145022698").main-button Go
                .option
                  p
                    | Talk To Mentor
                  a(href="https://wa.me/+201145022698").main-button Go
          .email#email-menu
            .menubar
              i.fa.fa-solid.fa-envelope.fa-fw.icon
              i.fa.fa-solid.fa-close.fa-fw.close
            .content
              .select-box
                .option
                  p
                    | Send To Mentor
                    span recommended
                  a(href="").main-button Go
