@use "./colors";
@use "./header";
@import url("/tech-learning/libs/font-poppins/style.css");
@import url("/tech-learning/libs/font-bitcount/style.css");

:root {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
}

body {
  padding-bottom: 300px;
  background-color: var(--bg-color);
  color: var(--text-color);
  // @media (min-width: 800px) {
  // padding-top: 50px;
  // }
  overflow-x: hidden;
  max-width: 100vw;
}

section {
  min-height: 100vh;
  height: fit-content;
  &:not(.landing) {
    padding-top: 150px;
    @media (max-width: 800px) {
      padding-top: 100px;
    }
  }
}

.container {
  width: 100%;
  height: 100%;
  max-width: 760px;
  display: block;
  margin: auto;
}

.alert-element {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  padding: 10px 20px;
  background: var(--bg-color);
  border-radius: 20px;
  box-shadow: 0 0 10px 10px rgba(#000, 0.1);
  z-index: 999999;
  transition: 0.2s ease;
}

.font-bitcount {
  font-family: "Bitcount", sans-serif;

  &.font-deep *:not(.fa) {
    font-family: "Bitcount", sans-serif;
  }
}
