//link(rel="stylesheet", href="/tech-learning/libs/font-poppins/style.css")
//link(rel="stylesheet", href="/tech-learning/libs/font-bitcount/style.css")
link(
  rel="stylesheet",
  href="/tech-learning/libs/icons-fontawesome/all.min.css"
)
link(rel="stylesheet", href="style.css")
