- const pageTitle = "Tech Learning | A New Place To Learn!";
- const page = "home";
extends ../_layouts/_base.pug
block body
  section.landing
    - for (let i = 0; i < 3; i++)
      .ball
    .container
      h1.section-heading Tired Of Hard Learning ?
      p.section-text Welcome To Tech Learning Where You Find All Homeworks For Your Awesome Course
      button.main-btn Get Me In!
