//- ---
pageTitle: Tech Learning | A New Place To Learn!
page: home
//- ---
extends ../_layouts/_base.pug
block body
  section.landing
    - for (let i = 0; i < 3; i++)
      .ball
    .overlay
    .container
      h1.section-heading Welcome To Tech Learning !
      p.section-text This Is Where You Find All Homeworks For Your Awesome Course
      a.main-button(href="#start") Get Me In!

  section#start.start
    .container
      .main-heading
        h1 Get Started
        p Start Your New Journey Or Get Homework
