//- ---
pageTitle: Tech Learning | A New Place To Learn!
page: home
//- ---
extends ../_layouts/_base.pug
block body
  section.landing
    - for (let i = 0; i < 3; i++)
      .ball
    .overlay
    .container
      h1.section-heading Welcome To Tech Learning !
      p.section-text This Is Where You Find All Homeworks For Your Awesome Course
      a.main-button(href="#start") Get Me In!

  section#start.start
    .container
      .main-heading
        h1 Get Started
        p Start Your New Journey Or Get Homework
      .content-area
        .cards
          .card
            h1.heading Get In Touch
            p Start By Registering a Place For Our Course
            i.fa.fa-solid.fa-arrow-right-to-bracket
            a(href="/tech-learning/get-course")
              button.alt-button
                | Get Me In
                i.fa.fa-solid.fa-chevron-right
          .card
            h1.heading Get Study Plan
            p If You Already Registered In The Course
            i.fa.fa-solid.fa-book-open-reader
            button.disabled-button Coming Soon...
