- const pageTitle = "Who Are Us ? | Tech Learning";
- const page = "about";
include ../../_layouts/_base.pug
block body
  h1 Who Are Us ?
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae suscipit at neque cumque velit reiciendis quae, ullam non dolorum fugiat voluptatibus commodi ipsum maxime? Repellendus quod quis ex delectus reprehenderit.
